/_build
/cover
/deps
/doc
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
weighted_random-*.tar
better_weighted_random-*.tar

# Temporary files, for example, from tests.
/tmp/
